@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap')
:root
    /* Color */
    --font-header: 'Heebo', sans-serif
    --header-color: #282A39
    --color-button: #FF5D00
    --color-button-l: #FE9458
    --color-button-d: #7C2D00
    --color-main: #E3E3E3
    --color-main-2: #50577A
    --color-extra: #59C1BD