* 
    margin: 0
    padding: 0
    box-sizing: border-box
    color: white
    line-height: 1.5em

body 
    font-family: var(--font-header)   

.p-body 
    padding: 0 30px

li 
    list-style: none
        
a 
    text-decoration: none 

       
.color-orange 
    cursor: pointer
    color: var(--color-button)
    transition: all 0.3s ease-in

    &:hover
        font-size: 20px

.p-bajo 
    font-size: 16px
    font-weight: 200